/* Edit Profile Container */
.edit-profile-container {
  padding: 20px;
  background-color: #e0f7fa; /* Light cyan background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}



/* Profile Photo Section */
.profile-photo-section {
  text-align: center;
  margin-bottom: 20px;
  border-top: 4px solid #00796b;
  padding-top: 20px;
}

.profile-photo-wrapper {
  position: relative;
  display: inline-block;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

/* Progress Bar Styles */
.progress {
  width: 150px;
  background-color: #f3f3f3;
  border-radius: 4px;
  margin: 10px auto 0;
  overflow: hidden;
}

.progress-bar {
  height: 20px;
  background-color: #00796b;
  color: white;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
}

/* Form Styles */
.profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.profile-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.form-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Save Button */
.save-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #00574b;
}
